[Unit]
Description=Flask server
After=network.target

[Service]
User=www-data
WorkingDirectory=/home/mike/flask
ExecStart=/usr/bin/python3 app.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target